.App {
  position: absolute;
  bottom: 0;
  left: 25%;
  background-color: #FF6F62;
  width: 50vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px 15px 0 0;
}

.ellipsion a {
  position: absolute;
  bottom: 3%;
  left: 3%;
  color: #FBC1BB;
  letter-spacing: 0.1rem;
  font-size: 1.4rem;
  font-weight: 900;
  text-decoration: none;
}


.Meta {
  position: absolute;
  top: 5%;
  left: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50vw;
}

.Meta > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Meta > div > div p, h3 {
  margin: 0;
  margin-left: 20px;

}



.Meta svg {
  width: 20px;
}

.btn {
  /* background-color: #FBC1BB; */
  border: none;
  border-radius: 5px;
  padding: 0 10px 0 0;
  color: #FBC1BB;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  cursor: pointer;
  text-decoration: none;
}

/* media query */
@media (max-width: 768px) {
  .App {
    width: 90vw;
    height: 60vh;
    left: 5%;
  }

  .Meta {
    width: 95vw;
    left: 5%;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  .inspired {
    display: flex;
    gap: 10px;
    margin-left: 20px;
    margin-top: 2rem;
  }
  
}